*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    padding-top:150px;
    background:black;
    font-family:sans-serif;
}
.container{
    width:50%;
    margin:auto;
}
.container input,button{
    width:75%;
    border:2px solid white;
    border-right:0px;
    font-size:18px;
    padding:12px;
    background:transparent;
    color:white;
    outline:none;
}
.container button{
    width:25%;
    background:#eee;
    color:black;
    float:right;
    border-left:0px;
}
.container button:hover{
    opacity:.8;
}