<!DOCTYPE html>
<html>
    <head>
        <title>CHECKBOX</title>
        <link rel="stylesheet" href="checkbox.css" type="text/css">
    </head>
    <body>
        <div class="container">
            <input type="checkbox" name="n1" value="male">
            <label>MALE</label><br>
            <input type="checkbox" name="n2" value="female">
            <label>FEMALE</label><br>
            <input type="checkbox" name="n3" value="other">
            <label>OTHER</label>
        </div>
    </body>
</html>